* {
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}

#header {
    background-image: url(/img/images/banner.png);
    background-repeat: no-repeat;
    height: 160px;
    width: 980px;
    background-color: #fff000;
}

#container {
    width: 980px;
    border: 1px solid pink;
    margin-left: auto;
    margin-right: auto;
}

#menu__dropmenu {
    position: relative;
    background: #2f8d9a;
    padding-top: 5px;
    padding-bottom: 5px;
}

ul#menu__dropmenu>li {
    display: inline;
    height: 20px;
    padding: 5px 10px;
    list-style-type: none;
    cursor: pointer;
}

ul#menu__dropmenu>li>ul {
    position: absolute;
    list-style-type: none;
    display: none;
    top: 29px;
    left: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 940px;
    background: #cdcdcd;
}

ul#menu__dropmenu>li:hover>ul {
    display: block;
    width: 100%;
}

ul#menu__dropmenu>li>ul>li {
    display: inline;
    cursor: pointer;
    list-style-type: none;
    padding: 5px 10px;
}

ul#menu__dropmenu>li>ul>li:hover {
    background-color: gray;
}

#content {
    margin-top: 50px;
}

#content__leftbar {
    float: left;
    width: 165px;
}

#content__center {
    display: inline;
    float: left;
    width: 605px;
    padding: 20px;
}

#content__rightbar {
    display: inline;
    float: left;
    width: 140px;
}

#content__leftbar>ul>li {
    left: 0px;
    height: 45px;
    padding: 0px;
    margin: 0px;
    background-image: url(/img/images/bgmenu.gif);
    list-style: none;
    cursor: pointer;
}

#content__leftbar>ul>li>a {
    text-decoration: none;
    padding: 10px;
}

.linked-img {
    border: #920001 1px solid;
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

#footer {
    background-color: #9d2224;
}

#footer__left {
    display: inline;
    float: left;
    width: 660px;
    color: #ffffff;
    padding: 20px;
}

#footer__right {
    display: inline;
    float: left;
    color: #999999;
    width: 240px;
    padding: 20px;
    text-align: right;
}

#submenu {
    position: fixed;
    top: 5px;
    left: 5px;
    background: #1e7c9a;
    cursor: pointer;
    padding: 5px;
}

#submenu>ul {
    display: none;
    position: relative;
}

#submenu>li:hover>ul {
    display: block;
}